{% extends "base.html" %}

{% block body_class %}career{% endblock %}

{% block content %}
<div class="container">
    <!--SECTION CAREER-->
    <div id="career" class="section">
        <div class="row story">
            <div class="col-md-7">
                <h1>My Career. <span class="text-muted">From Telecoms to Web development.</span></h1>

                <p>After 3+ years of professional experience in Telecommunications I switched to Web development. Why?
                    Because it's fun and gives infinite opportunity to be creative and useful. Because I can finally
                    combine my technical skills with a feeling of beauty. Because web stuff is just awesome.</p>
                <p>So don't hesitate to <a href="/contact/">contact me</a> if you have any interesting and creative job position.</p>

                <p class="lead">You can skim through this page or take a look at <a href="/static/img/UlianaAndriieshynaCV.pdf">my CV
                    <span class="glyphicon glyphicon-download-alt small"></span></a>
                </p>
            </div>
            <div class="col-md-5 col-sm-8">
                <img class="img-responsive logos" src="/static/img/logo/html_css.png"/>
                <img class="img-responsive logos" src="/static/img/logo/bootstrap.png"/>
                <img class="img-responsive logos" src="/static/img/logo/angularjs.png"/>
                <img class="img-responsive logos" src="/static/img/logo/xmpp-logo.png"/>
                <img class="img-responsive logos" src="/static/img/logo/github.jpg"/>
                <img class="img-responsive logos" src="/static/img/logo/django-logo.png"/>
                <img class="img-responsive logos" src="/static/img/logo/js.png"/>
                <img class="img-responsive logos" src="/static/img/logo/d3js.png"/>
            </div>
        </div>
        <!-- Story EPFL-->
        <hr class="story-divider">
        <div class="row story">
            <div class="col-sm-4 hidden-xs image">
                <img class="img-responsive img-padded" src="/static/img/logo/EPFL.jpg"/>
            </div>
            <div class="col-md-8">
                <h1>Web Frontend Developer</h1>
                <p class="lead">Web-development within
                    <a href="http://lsir.epfl.ch/research/current/sciencewise/">ScienceWise</a> project</p>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Responsibilities</h3>
                        <ul>
                            <li>Web Frontend development of a ScienceWise UI and related projects</li>
                            <li>Coding with HTML, CSS, jQuery, Django templates language</li>
                            <li>Used techniques: RESTful API, AJAX, SVG</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3>Results</h3>
                        <ul>
                            <li>Outcome of a team-work will be presented in Paris, 2015 United Nations Climate Change Conference</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
        <!-- Story IBM-->
        <hr class="story-divider">
        <div class="row story">
            <div class="col-sm-4 hidden-xs image">
                <img class="img-responsive img-padded" src="/static/img/logo/ibm.svg"/>
            </div>
            <div class="col-md-8">
                <h1>Internship at IBM</h1>
                <p class="lead">Web-development within
                    <a href="http://www-01.ibm.com/employment/us/extremeblue/">Extreme&nbsp;Blue&nbsp;&reg;</a> project</p>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Responsibilities</h3>
                        <ul>
                            <li>Frontend development of Portal to Sensor-Driven Personalization (WebSphere Portal)</li>
                            <li>Coding with HTML, CSS, jQuery</li>
                            <li>Present a project/ideas by creating mockups, presentations, posters</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3>Results</h3>
                        <ul>
                            <li>Developed basic prototype of Sensor Health Care Dashboard</li>
                            <li>Outcome of our team-work was presented at IBM Expo in Hursley&nbsp;(United Kingdom) as well as in Böblingen and Ehningen (Germany)</li>
                            <li>Recommendation <a href="/static/img/recommend/IBMRecommendation.jpg" title="recommendation letter">here</a>.</li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <!-- Story Sodocu and TUD -->
        <hr class="story-divider">
        <div class="row story">
            <!-- Sodocu GmbH-->
            <div class="col-sm-2 hidden-xs image">
                <img class="img-responsive img-padded" src="/static/img/logo/sodocu.png"/>
            </div>
            <div class="col-md-4">
                <h1>Internship at <a href="http://www.sodocu.eu/" target="blank">Sodocu</a></h1>
                <h3>Responsibilities</h3>
                <ul>
                    <li>User Interface development and information structuring within SharePoint 2010 web portal</li>
                </ul>

                <h3>Results</h3>
                <ul>
                    <li>Created single document catalogue to provide convenience and eﬃciency of data retrieval system</li>
                    <li>Recommendation <a href="/static/img/recommend/RecomAndriieshynaSodocu.pdf" title="recommendation letter">available</a></li>
                </ul>
            </div>
            <!-- TUD -->
            <div class="col-sm-2 hidden-xs image">
                <img class="img-responsive img-padded" src="/static/img/logo/tud.png"/>
            </div>
            <div class="col-md-4">
                <h1>Student Assistant at <a href="http://www.tu-dresden.de" target="blank">TU Dresden</a></h1>
                <h3>Responsibilities</h3>
                <ul>
                    <li>Worked within SPEKTRUM research project, responsible for semantic POI dataset maintenance</li>
                </ul>
                <h3>Results</h3>
                <ul>
                    <li>Created dataset was used for evaluating news event clustering algorithms</li>
                    <li>Recommendation <a href="/static/img/recommend/tud_recommend.pdf" title="recommendation letter">available</a></li>
                </ul>
            </div>
        </div>

        <!-- Story Life -->
        <hr class="story-divider">
        <div class="row story">
            <div class="col-sm-4 hidden-xs image">
                <img class="img-responsive img-padded" src="/static/img/logo/life.png"/>
            </div>
            <div class="col-md-8">
                <h1>Full-time System Analyst of VAS, <a href="http://www.life.ua/en/" target="blank">Life:)</a> Mobile Operator</h1>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Responsibilities</h3>
                        <ul>
                            <li>Business analysis of telecom products (MMS, SMS, Internet, Tarifs)</li>
                            <li>Middle-size project management</li>
                            <li>Addressing the needs and requirements of business groups and development departments</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3>Results</h3>
                        <ul>
                            <li>Deﬁned and implemented new pricing plans, campaigns, VAS (Value-Added Services) and IT projects</li>
                            <li>Recommendation <a href="/static/img/recommend/vas_recommend.jpg" title="recommendation letter">available</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

        <!-- Story Life -->
        <hr class="story-divider">
        <div class="row story">
            <div class="col-md-8">
                <h1>Technical Support Engineer of <a href="http://www.life.ua/en/" target="blank">Life:)</a> GSM Network</h1>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Responsibilities</h3>
                        <ul>
                            <li>Monitoring and technical support of GSM network in 24/7 shift-schedule</li>
                            <li>Assign accessibility and availability of network</li>
                            <li>Detection, identiﬁcation and solving of arising problems</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3>Results</h3>
                        <ul>
                            <li>Araising problems have been always troubleshooted and solved in reasonable time</li>
                            <li>Recommendation <a href="/static/img/recommend/gsm_recommend.jpg" title="recommendation letter">available</a></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="col-sm-4 hidden-xs image">
                <img class="img-responsive img-padded" src="/static/img/logo/life.png"/>
            </div>
        </div>
    </div>
</div>
{% endblock %}