{% extends "base.html" %}

{% block body_class %}certificates{% endblock %}

{% block content %}
<div class="container">
    <!--SECTION CERTIFICATES-->
    <!---->
    <div id="certificates" class="section">
        <div class="row story">
            <div class="col-md-offset-1 col-md-10">
                <img class="img-responsive img-padded" src="/static/img/ExtremeBlue.jpg"/>
            </div>
        </div>
        <hr class="story-divider">
        <div class="row story">
            <div class="col-md-offset-1 col-md-10">
                <img class="img-responsive img-padded" src="/static/img/db2_certificate.png"/>
            </div>
        </div>
        <hr class="story-divider">
        <div class="row story">
            <div class="col-md-offset-2 col-md-8">
                <img class="img-responsive img-padded" src="/static/img/MicrosoftCertificate.jpg"/>
            </div>
        </div>
    </div>

</div>
{% endblock %}