{% extends "base.html" %}

{% block body_class %}about{% endblock %}

{% block content %}
  <div class="container">

    <!--SECTION ABOUT-->
    <div id="about" class="section initial">
      <!-- Story -->
      <div class="row story">
        <div class="col-md-7">
          <h1>Hi, I'm Uliana</h1>
          <p class="lead">Nice to see you here!</p>

          <p>I'm a web developer and telecommunications engineer from Ukraine, leaving in Germany. I don't use Facebook due to privacy concerns, so to keep some information about myself on the web I created this website. Here you can find basic info about me, my experience and hobbies.</p>
          
          <p>Besides, a best way to show web-oriented skills is just design and develop a website. This one is coded with HTML/CSS, interactions are powered by pure Javascript/jQuery (no backend). Some RESTful APIs are used for extra functionality. Files are kindly hosted by Openshift. And yes, you can scale down the browser window to see how it adapts :)</p>
        </div>
        <div class="col-md-5 image">
          <img class="img-responsive img-padded" src="static/img/ulia.jpg"/>
        </div>
      </div>
      <!-- About me -->
      <hr class="story-divider">
      <div class="row story">
        <div class="col-sm-5 hidden-xs image">
          <img class="img-responsive" src="static/img/pic2aboutMe.jpg"/>
        </div>
        <div class="col-md-7">
          <h1>Me, at a glance:</h1>
          <ul class="nobullets">
            <li>✔&nbsp;&nbsp;Made in Ukraine (Kherson)</li>
            <li>✔&nbsp;&nbsp;Living in Munich</li>
            <li>✔&nbsp;&nbsp;Web Frontend Developer, EPFL</li>
            <li>✔&nbsp;&nbsp;M.Sc. in Telecommunication Systems, Kyiv, Ukraine</li>
            <li>✔&nbsp;&nbsp;M.Sc. in Computer Science, TU Dresden</li>
            <li>✔&nbsp;&nbsp;Finished an internship at IBM</li>
            <li>✔&nbsp;&nbsp;Love UI/UX development, taking photos, reading stuff and wild travel</li>
          </ul>
        </div>
      </div>
    </div>

</div>
{% endblock %}
