body {
	transition: background-color 500ms ease-in;
	color: white;
}

.text-muted {
color: #B6B6B6;
}

a {
  text-decoration: underline;
}
.nobullets>li {
  list-style: none;
}

.biglist>li {
  margin-bottom: .5em;
}

footer {
padding-bottom: 4em;
}

.navigation .item {
	line-height: 2em;
	cursor: pointer;
	cursor: hand;
}

.section {
	margin-top: 3em;
}

.story-divider {
	margin: 50px 0;
	border-top: 1px solid #FFF;
}

.story {
  font-size: 1.4em;
  font-weight: 200;
}

.img-padded {
  margin-top: 10px;
  padding: 35px;
}

.story .lead {
  margin-bottom: .5em;
  letter-spacing: .6px;
  font-weight: 100;
  font-size: 1.3em;
}

#hobby .col-md-6 p{
  font-size: 1.2em;
}

.story h3 {
  font-size: 1.4em;
}

.about{
	background-color: #d7333c;
}

.career{
	background-color: #60016D;
}

.education{
	background-color: #015367;
}

.certificates{
	background-color: #05296E;
}

.hobby{
	background-color: #8DA100;
}

.contact{
	background-color: #FF7F00;
}

/* Helper classes */
.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.mt0 {
  margin-top: 0;
}

.mt2 {
  margin-top: 2em;
}

.nowrap {
  white-space: nowrap;
}

.small {
  font-size: .8em;
}
#form .progress{
  display:none;
}