body {
	transition: background-color 500ms ease-in;
	color: white;
}
a {
  text-decoration: underline;
}
a:hover {
  font-size: 1.1em;
}
.col-md-7 ul{
 list-style-type: circle;
}
#map_canvas {
        width: 500px;
        height: 400px;
      }


.navigation .item {
	line-height: 2em;
	cursor: pointer;
	cursor: hand;
}

.section {
	margin-top: 3em;
}

.story-divider {
	margin: 70px 0;
	border-top: 1px solid #FFF;
}

.story {
  font-size: 1.4em;
  font-weight: 200;
}
.story>.image {
  margin-top: 10px;
  padding: 35px;
}
.story .lead {
  margin-bottom: .5em;
  letter-spacing: .5px;
  font-weight: 100;
}

#hobby .col-md-6 p{
  font-size: 1.2em;
}

.story h3 {
  font-size: 1.4em;
}

.about{
	background-color: #d7333c;
}

.career{
	background-color: #60016D;
}

.education{
	background-color: #FF7F00;
}

.certificates{
	background-color: #05296E;
}

.hobby{
	background-color: #8DA100;
}

.contact{
	background-color: #015367;
}

.form-contact {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-contact .form-contact-heading,
.form-contact .checkbox {
  margin-bottom: 10px;
}
.form-contact .checkbox {
  font-weight: normal;
}
.form-contact .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-contact .form-control:focus {
  z-index: 2;
}
.form-contact input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-contact input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-contact input[type="email"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}