<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en-US">
<link rel="icon" type="image/png" href="static/img/favicon.ico">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="static/img/favicon.png">

  <!-- Disable cache - remove before deploy -->
  <meta http-equiv="cache-control" content="max-age=0" />
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="0" />
  <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
  <meta http-equiv="pragma" content="no-cache" />
  <!-- end cache meta -->

  <title>Uliana.me</title>

  <link href="static/css/bootstrap.css" rel="stylesheet">
  <link href="static/css/uliana_me.css" rel="stylesheet">
</head>

<body class="about">
  <!-- container -->
  <div class="container">
    <!---->
    <!--NAVIGATION-->
    <!---->
    <div class="navigation row">
      <div class="col-md-2 col-sm-4 col-xs-6 item about" data-section="about">
        <h4><span class="glyphicon glyphicon-user"></span> About me</h4>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 item career" data-section="career">
        <h4><span class="glyphicon glyphicon-briefcase"></span> Career</h4>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 item education" data-section="education">
        <h4><span class="glyphicon glyphicon-book"></span> Education</h4>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 item certificates" data-section="certificates">
        <h4><span class="glyphicon glyphicon-certificate"></span> Certificates</h4>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 item hobby" data-section="hobby">
        <h4><span class="glyphicon glyphicon-camera"></span> Hobby</h4>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 item contact" data-section="contact">
        <h4><span class="glyphicon glyphicon-envelope"></span> Contact</h4>
      </div>
    </div>

    <!---->
    <!--SECTION ABOUT-->
    <!---->
    <div id="about" class="section initial">
      <!-- Story -->
      <div class="row story">
        <div class="col-md-offset-1 col-md-5">
          <h1>Hi, I'm Uliana</h1>
          <p class="lead">Nice to see you here!</p>
          <p>As a &ldquo;fresh&rdquo; web developer obviously I do like modern flat and adaptive designs. By using latest web technologies suchдавай as HTML5 and CSS3 I created this site specially for you.</p> 
          <p>You can find all public info about me here. If something is missing, feel free to contact me by using the link in the footer or by filling the &ldquo;contact&rdquo; form.</p>
        </div>
        <div class="col-md-5 image">
          <img class="img-responsive" src="static/img/ulia.jpg"/>
        </div>
      </div>
      <!-- About me -->
      <hr class="story-divider">
      <div class="row story">
        <div class="col-md-7">
          <img class="img-responsive" src="static/img/pic2aboutMe.jpg"/>
        </div>
        <div class="col-md-5 image">
          <h1>Me, at a glance:</h1>
          <ul>
            <li>✔  Made in Ukraine</li>
            <li>✔  M.Sc. in Telecommunication Systems, Kyiv, Ukraine</li>
            <li>✔ Currently writing my Master Thesis in Computer Science, TU Dresden </li>
            <li>✔  Interests: adaptive frontend development </li>
            <li>✔  <a href="http://www.linkedin.com/pub/uliana-andriieshyna/43/a41/21"> LinkedIn account </a></li>
            <li>✔  <a href="http://www.quitfacebookday.com/">No</a> Facebook account </li>
          </ul>
        </div>
      </div>
    </div>

    <!---->
    <!--SECTION CAREER-->
    <!---->
    <div id="career" class="section">
      <div class="row story">
        <div class="col-md-10 col-md-offset-1">
          <h1>My Career. <span class="text-muted">From Telecoms to Web development.</span></h1>
          <p>After 3+ years of professional experience in Telecommunications I switched to Web development. Why? Because it's fun and gives infinite opportunity to be creative and useful. Because I can finally combine my technical skills with a feeling of beauty. Because web stuff is just awesome.</p>
          <p class="lead">You can scroll through this page or take a look at <a href="static/img/UlianaAndriieshynaCV.pdf">my CV</a>
				  <span class="glyphicon glyphicon-download-alt small"></span>
          </p>
        </div>
      </div>
      <!-- Story -->
      <hr class="story-divider">
      <div class="row story">
        <div class="col-md-4 image">
          <img class="img-responsive" src="http://upload.wikimedia.org/wikipedia/commons/5/51/IBM_logo.svg"/>
        </div>
        <div class="col-md-8">
          <h1>Internship at IBM</h1>
          <p class="lead">Web-developement within 
            <a href="http://www-01.ibm.com/employment/us/extremeblue/">Extreme&nbsp;Blue&nbsp;&reg;</a> project</p>
          <div class="row">
            <div class="col-md-6">
              <h3>Responsibilities</h3>
              <p>Worked on frontend development of Portal to Sensor-Driven Personalization.</p>
              <p>Used jQuery, Highcharts, JSP.</p>
            </div>
            <div class="col-md-6">
              <h3>Results</h3>
              <p>Outcome of my team-work was presented at IBM Expo in Hursley&nbsp;(UK) as well as in Böblingen and Ehningen (Germany)</p>
              <p>Recommendation <a href="http://path-to-recommendation" title="recommendation letter">here</a>.</p>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <!-- Story -->
      <hr class="story-divider">
      <div class="row story">
        <div class="col-md-8">
          <p> Internship at <a href="http://www.sodocu.eu/" target="blank">sodocu</a>, Dresden, Germany, 2011-2012
          <br>Recommendation <a href="static/img/recommend/RecomAndriieshynaSodocu.pdf" target="blank">EN</a> <a href="hstatic/img/recommend/EmpfehlungAndriieshyna.pdf" target="blank">DE</a></p>
          <p> System Analyst of VAS, Mobile Operator, 2011 "<a href="http://www.life.com.ua/?lng=en" target="blank">Life:)</a>", Kyiv, Ukraine <br>Recommendation <a href="static/img/recommend/RecommendAndriieshynaLife.jpg" target="blank">EN</a></p>
          <p> Technical Support Engineer of GSM Network, Mobile Operator, 2009-2010 "<a href="http://www.life.com.ua/?lng=en" target="blank">Life:)</a>", Kyiv, Ukraine <br>Recommendation <a href="static/img/recommend/RecommAndriieshynaLife.jpg" target="blank">EN</a></p>
        </div>
        <div class="col-md-2">
          <img class="img-responsive" src="static/img/life-logo.jpg" alt="200x100"/>
        </div>
        <div class="col-md-2">
          <img class="img-responsive" src="static/img/sodocu-logo.png" alt="200x100"/>
        </div>
      </div>

    </div>

    <!---->
    <!--SECTION EDUCATION-->
    <!---->
    <div id="education" class="section">
      <div class="row story">
        <div class="col-md-8">
          <p><a href="http://tu-dresden.de/die_tu_dresden/fakultaeten/fakultaet_informatik/sysa/se/master/?set_language=en&cl=en" target="blank">Technical University of Dresden </a>, 2011 till now<br>Master on Chair "Distributed Systems Engineering"<br>Topic: Generic Frontend for Exploring Sensor and Information Services</p>
        </div>
        <div class="col-md-4">
          <img class="img-responsive" src="static/img/tu_logo.gif"/>
        </div>
      </div>

      <hr class="story-divider">
      <div class="row story">
        <div class="col-md-8">
          <p><a href="http://inter.kpi.ua/" target="blank">National Technical University of Ukraine "Kyiv Polytechnic Institute"</a>, Institute of Telecommunication Systems (ITS), June 2010<br>Master of Information Communication Networking<br>Topic: Mathematical and software ensuring for informational environment "Smart audience"</p>
        </div>
        <div class="col-md-4">
          <img class="img-responsive" src="static/img/kpi.png"/>
        </div>
      </div>
    </div>

    <!---->
    <!--SECTION CERTIFICATES-->
    <!---->
	    <div id="certificates" class="section">
	      <div class="row story">
			        <div class="col-md-offset-3 col-md-6">
			          <img class="img-responsive" src="static/img/ExtremeBlue.jpg"/>
			        </div>
	       </div>
	       <hr class="story-divider">
	       <div class="row story">
			        <div class="col-md-offset-3 col-md-6">
			          <img class="img-responsive" src="static/img/db2_certificate.png"/>
			        </div>
	       </div>
	      <hr class="story-divider">
	        <div class="row story">
			          <div class="col-md-offset-3 col-md-6">
			            <img class="img-responsive" src="static/img/MicrosoftCertificate.jpg"/>
			          </div>
	        </div>
	     </div>

    <!---->
    <!--SECTION HOBBY-->
    <!---->
    <div id="hobby" class="section">
      <div class="row story">
        <div class="col-md-6">
          <div id="carousel-hobby" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-hobby" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-hobby" data-slide-to="1"></li>
              <li data-target="#carousel-hobby" data-slide-to="2"></li>
              <li data-target="#carousel-hobby" data-slide-to="3"></li>
              <li data-target="#carousel-hobby" data-slide-to="4"></li>
              <li data-target="#carousel-hobby" data-slide-to="5"></li>
              <li data-target="#carousel-hobby" data-slide-to="6"></li>
              <li data-target="#carousel-hobby" data-slide-to="7"></li>
              <li data-target="#carousel-hobby" data-slide-to="8"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
               <div class="item active">
                <img src="static/img/3.jpg" alt="900x500">
                <div class="carousel-caption">
                  <p>Red Sea, Egypt</p>
                </div>
              </div>
                <div class="item">
                <img src="static/img/2.jpg" alt="900x500">
                <div class="carousel-caption">
                  <p>Odessa, Ukraine</p>
                </div>
              </div>
              <div class="item">
                <img src="static/img/4.jpg" alt="900x500">
                <div class="carousel-caption">
                  <p>Red Sea, Egypt</p>
                </div>
              </div>
              <div class="item">
                <img src="static/img/5.jpg" alt="900x500">
                <div class="carousel-caption">
                  <p>Leipzig, BMW concept</p>
                </div>
              </div>
              <div class="item">
                <img src="static/img/1.jpg" alt="900x500">
                <div class="carousel-caption">
                  <p>Tenerife, Canary Islands</p>
                </div>
              </div>
              <div class="item">
                <img src="static/img/6.jpg" alt="900x500">
                <div class="carousel-caption">
                  <p>Budapest, Hungary</p>
                </div>
              </div>
              <div class="item">
                <img src="static/img/7.jpg" alt="900x500">
                <div class="carousel-caption">
                  <p>Budapest, Hungary</p>
                </div>
              </div>
              <div class="item">
                <img src="static/img/13.jpg" alt="900x500">
                <div class="carousel-caption">
                  <p>Saxony, Germany</p>
                </div>
              </div>
              <div class="item">
                <img src="static/img/14.jpg" alt="900x500">
                <div class="carousel-caption">
                  <p>Copenhagen, Denmark</p>
                </div>
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-hobby" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-hobby" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <p class="lead"> </p>
          <p class="lead"> State of the art of Web and Mobile Technologies </p> 
          <p class="lead"> Travelling, feel new culture, speak with native people, try something new </p>
          <p class="lead"> Make photos with analog photocamera Minolta or digital camera Sony Alpha </p>
          <p class="lead"> Be creative in design of home, yourself and the world around you </p>
        </div>
      </div>
    </div>

    <!---->
    <!--SECTION CONTACT-->
    <!---->
    <div id="contact" class="section">
      <!-- Story -->
      <div class="row story">
        <div class="col-md-offset-2 col-md-4">
          <h2 class="align-right mt0">Contact me using this form or email in the footer</h2>
        </div>
        <div class="col-md-4">
          <form id="form" class="form-contact" role="form">
            <p> 
              <label for="name">Name:</label>
              <input name="name" type="text" placeholder="how may I call you?" class="form-control"/>
            </p>
            <p> 
              <label for="email">Your email:</label>
              <input name="email" type="text" placeholder="I promise I hate spam as much as you" class="form-control"/>
            </p>
            <p> 
              <label for="text">Message:</label>
              <textarea id="msg" name="text" placeholder="Don't be shy, leave me a friendly msg" class="form-control"></textarea>
            </p>
            <p> 
             <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
           </p>
         </form>
        </div>
      </div>
      <div class="row story mt40">
        <div class="col-md-12">
          <h2 class="align-center">Here I am!</h2>
          <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Dresden,+Germany&amp;aq=0&amp;oq=Dr&amp;sll=50.673835,13.787842&amp;sspn=5.362011,11.634521&amp;ie=UTF8&amp;hq=&amp;hnear=Dresden,+Saxony,+Germany&amp;t=m&amp;ll=52.429222,13.535156&amp;spn=4.69007,9.338379&amp;z=6&amp;output=embed&amp;iwloc=near"></iframe>
        </div>
      </div>

      
   </div>

   <!---->
   <!--FOOTER-->
   <!---->
   <hr>
   <footer>
    <span class="pull-left">&copy; Uliana 2013, design and coding done by me using <a href="http://getbootstrap.com">Bootstrap</a> and <a href="http://jquery.com">jQuery</a></span>
    <span class="pull-right"><span class="glyphicon glyphicon-envelope"></span> <a href="http://scr.im/uliana">uli..a@uliana.me</a></span>
  </footer>
</div>
<!-- /container -->

<!-- Scripts -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="static/js/uliana_me.js"></script>
</body>
</html>
