{% extends "base.html" %}

{% block body_class %}education{% endblock %}

{% block content %}
<div class="container">
    <!--SECTION EDUCATION-->
    <div id="education" class="section">
        <div class="row story">
            <div class="col-md-10 col-md-offset-1">
                <h1>Education. <span class="text-muted">Finished my second Master Degree.</span></h1>
                <p>In April I've successfully finished the master course in Computer Science at TU-Dresden. This is my second Master degree, first one is in Telecommunication Systems, KPI, Ukraine.</p>
                <p>
                    I wrote a couple of scientific articles, most are published in Ukraine and <a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?tp=&arnumber=4676416&queryText%3DPervasive+Computing+usage+for+realization+of+conception+.QT.Smart+Audience">this one is available on IEEE</a>.
                </p>
            </div>
        </div>

        <!-- Story TUD -->
        <hr class="story-divider">
        <div class="row story">
            <div class="col-sm-4 hidden-xs">
                <img class="img-responsive img-padded" src="/static/img/logo/tud.png"/>
            </div>
            <div class="col-md-8">
                <h1><a href="http://tu-dresden.de">Technical University of Dresden</a></h1>
                <p class="lead">TU-Dresden is one of 11 German Universities <a href="http://de.wikipedia.org/wiki/Eliteuniversit%C3%A4t">honored with Elite University title</a>.
                <div class="row">
                    <div class="col-md-6">
                        <h3>Master Course</h3>
                        <ul>
                            <li>Faculty of Computer Science, chair of Computer Networks</li>
                            <li>International Master's Program: "<a href="http://tu-dresden.de/die_tu_dresden/fakultaeten/fakultaet_informatik/sysa/se/master/?set_language=en&cl=en">Distributed Systems Engineering</a>"</li>
                            <li>Thesis topic: Generic Frontend for Exploring Sensor and Information Services (Grade: 1.3)</li>
                        </ul>
                        <div class="lazyYT" data-youtube-id="VaR7mff6jhc" data-width="600" data-height="400"></div>
                    </div>
                    <div class="col-md-6">
                        <h3>Focus of Study</h3>
                        <ul>
                            <li>My area of interest is between system Backend and User: visual interfaces, responsive design, APIs, data streaming.</li>
                            <li>I like to connect end-users into complex systems easily, providing simple interfaces while preserving advanced functionality.</li>
                        </ul>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
        </div>

        <!-- Story KPI -->
        <hr class="story-divider">
        <div class="row story">
            <div class="col-md-8">
                <h1 class="nowrap"><a href="http://kpi.ua/en">National Technical University of Ukraine &ldquo;KPI&rdquo;</a></h1>
                <p class="lead">NTUU KPI is one of the oldest technical universities of Ukraine, <a href="http://www.ireg-observatory.org/index.php?option=com_content&task=view&id=220&Itemid=1">ranked&nbsp;#1 by UNESCO</a> among Top 200 Ukrainian universities.</p>
                <div class="row">
                    <div class="col-md-6">
                        <h3>Master Course</h3>
                        <ul>
                            <li>Institute of Telecommunication Systems</li>
                            <li>Chair of Information Communication Networks</li>
                            <li>Thesis topic: Mathematical concept and software of informational environment &ldquo;Smart Audience&rdquo;</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h3>Focus of Study</h3>
                        <ul>
                            <li>My studies where focused on organizing and controlling wireless communication networks.</li>
                            <li>In addition to theory, I worked with monitoring and technical support of a real GSM network.</li>
                        </ul>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
            <div class="col-sm-4 hidden-xs">
                <img class="img-responsive img-padded" src="/static/img/logo/kpi.png"/>
            </div>
        </div>
    </div>
</div>
{% endblock %}