{% extends "base.html" %}

{% block content %}
  <div class="container">

    <!---->
    <!--SECTION ABOUT-->
    <!---->
    <div id="about" class="section initial">
      <!-- Story -->
      <div class="row story">
        <div class="col-md-7">
          <h1>Hi, I'm Uliana</h1>
          <p class="lead">Nice to see you here!</p>

          <p>I'm a web developer and telecommunications engineer from Ukraine, leaving in Germany. I don't use Facebook due to privacy concerns, so to keep some information about myself on the web I created this website. Here you can find basic info about me, my experience and hobbies.</p>
          
          <p>Besides, a best way to show web-oriented skills is just design and develop a website. This one is coded with HTML5/CSS3, interactions are powered by pure Javascript/jQuery (no backend). Some RESTful APIs are used for extra functionality. Files are kindly hosted by Openshift. And yes, you can scale down the browser window to see how it adapts :)</p>
        </div>
        <div class="col-md-5 image">
          <img class="img-responsive img-padded" src="static/img/ulia.jpg"/>
        </div>
      </div>
      <!-- About me -->
      <hr class="story-divider">
      <div class="row story">
        <div class="col-sm-5 hidden-xs image">
          <img class="img-responsive" src="static/img/pic2aboutMe.jpg"/>
        </div>
        <div class="col-md-7">
          <h1>Me, at a glance:</h1>
          <ul class="nobullets">
            <li>✔&nbsp;&nbsp;Made in Ukraine</li>
            <li>✔&nbsp;&nbsp;Living in Dresden</li>
            <li>✔&nbsp;&nbsp;M.Sc. in Telecommunication Systems, Kyiv, Ukraine</li>
            <li>✔&nbsp;&nbsp;Finished an internship at IBM</li>
            <li>✔&nbsp;&nbsp;M.Sc. in Computer Science, TU Dresden</li>
            <li>✔&nbsp;&nbsp;Love UI development, taking photos, reading stuff and wild travel</li>
          </ul>
        </div>
      </div>
    </div>



    <!---->
    <!--SECTION EDUCATION-->
    <!---->
     <div id="education" class="section">
      <div class="row story">
        <div class="col-md-10 col-md-offset-1">
          <h1>Education. <span class="text-muted">Finished my second Master Degree.</span></h1>
          <p>In April I've successfully finished the master course in Computer Science at TU-Dresden. This is my second Master degree, first one is in Telecommunication Systems, KPI, Ukraine.</p>
          <p>
          I wrote a couple of scientific articles, most are published in Ukraine and <a href="http://ieeexplore.ieee.org/xpl/articleDetails.jsp?tp=&arnumber=4676416&queryText%3DPervasive+Computing+usage+for+realization+of+conception+.QT.Smart+Audience">this one is available on IEEE</a>.
          </p>
        </div>
      </div>
      
      <!-- Story TUD -->
      <hr class="story-divider">
      <div class="row story">
        <div class="col-sm-4 hidden-xs">
          <img class="img-responsive img-padded" src="static/img/logo/tud.png"/>
        </div>
        <div class="col-md-8">
          <h1><a href="http://tu-dresden.de">Technical University of Dresden</a></h1>
          <p class="lead">TU-Dresden is one of 11 German Universities <a href="http://de.wikipedia.org/wiki/Eliteuniversit%C3%A4t">honored with Elite University title</a>.
          <div class="row">
            <div class="col-md-6">
              <h3>Master Course</h3>
              <ul>
                <li>Faculty of Computer Science, chair of Computer Networks</li>
                <li>International Master's Program: "<a href="http://tu-dresden.de/die_tu_dresden/fakultaeten/fakultaet_informatik/sysa/se/master/?set_language=en&cl=en">Distributed Systems Engineering</a>"</li>
                <li>Thesis topic: Generic Frontend for Exploring Sensor and Information Services (Grade: 1.3)</li>
              </ul>
              <div class="lazyYT" data-youtube-id="VaR7mff6jhc" data-width="600" data-height="400"></div>
            </div>
            <div class="col-md-6">
              <h3>Focus of Study</h3>
              <ul>
                <li>My area of interest is between system Backend and User: visual interfaces, responsive design, APIs, data streaming.</li>
                <li>I like to connect end-users into complex systems easily, providing simple interfaces while preserving advanced functionality.</li>
              </ul>
            </div>
            <div class="clearfix">
            </div>
          </div>
        </div>
      </div>

      <!-- Story KPI -->
      <hr class="story-divider">
      <div class="row story">
        <div class="col-md-8">
          <h1 class="nowrap"><a href="http://kpi.ua/en">National Technical University of Ukraine &ldquo;KPI&rdquo;</a></h1>
          <p class="lead">NTUU KPI is one of the oldest technical universities of Ukraine, <a href="http://www.ireg-observatory.org/index.php?option=com_content&task=view&id=220&Itemid=1">ranked&nbsp;#1 by UNESCO</a> among Top 200 Ukrainian universities.</p>
          <div class="row">
            <div class="col-md-6">
              <h3>Master Course</h3>
              <ul>
                <li>Institute of Telecommunication Systems</li>
                <li>Chair of Information Communication Networks</li>
                <li>Thesis topic: Mathematical concept and software of informational environment &ldquo;Smart Audience&rdquo;</li>
              </ul>
            </div>
            <div class="col-md-6">
              <h3>Focus of Study</h3>
              <ul>
                <li>My studies where focused on organizing and controlling wireless communication networks.</li>
                <li>In addition to theory, I worked with monitoring and technical support of a real GSM network.</li>
              </ul>
            </div>
            <div class="clearfix">
            </div>
          </div>
        </div>
        <div class="col-sm-4 hidden-xs">
          <img class="img-responsive img-padded" src="static/img/logo/kpi.png"/>
        </div>
      </div>
    </div>

    <!---->
    <!--SECTION CERTIFICATES-->
    <!---->
	    <div id="certificates" class="section">
	      <div class="row story">
			        <div class="col-md-offset-1 col-md-10">
			          <img class="img-responsive img-padded" src="static/img/ExtremeBlue.jpg"/>
			        </div>
	       </div>
	       <hr class="story-divider">
	       <div class="row story">
			        <div class="col-md-offset-1 col-md-10">
			          <img class="img-responsive img-padded" src="static/img/db2_certificate.png"/>
			        </div>
	       </div>
	      <hr class="story-divider">
	        <div class="row story">
			          <div class="col-md-offset-2 col-md-8">
			            <img class="img-responsive img-padded" src="static/img/MicrosoftCertificate.jpg"/>
			          </div>
	        </div>
	     </div>

    <!---->
    <!--SECTION HOBBY-->
    <!---->
    <div id="hobby" class="section">
      <div class="row story">
        <div class="col-md-7 col-md-offset-3">
          <h1>Stuff I like to do in my free time</h1>
        </div>
      </div>
      <hr class="story-divider">
      <div class="row story">
        <div class="col-md-4">
          <h3>
            <ul class="nobullets biglist">
              <li>★ Travel</li>
              <li>★ Feel new culture</li>
              <li>★ Take pictures <a href="http://instagram.com/like_me1?ref=badge" class="ig-b- ig-b-32"><img src="//badges.instagram.com/static/images/ig-badge-32.png" alt="Instagram" /></a></li>
              <li>★ Speak with locals</li>
              <li>★ Be creative </li>
              <li>★ Try something new</li>
            </ul>
          </h3>
        </div>
        <div class="col-md-8">
          <div id="carousel-hobby" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li data-target="#carousel-hobby" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-hobby" data-slide-to="1"></li>
              <li data-target="#carousel-hobby" data-slide-to="2"></li>
              <li data-target="#carousel-hobby" data-slide-to="3"></li>
              <li data-target="#carousel-hobby" data-slide-to="4"></li>
              <li data-target="#carousel-hobby" data-slide-to="5"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">
               <div class="item active">
                <img src="static/img/3.jpg" alt="900x500">
                <div class="carousel-caption">
                  <p>Makadi Bay, Egypt</p>
                </div>
              </div>
              <div class="item">
                <img src="static/img/4.jpg" alt="900x500">
                <div class="carousel-caption">
                  <p>Red Sea</p>
                </div>
              </div>
              <div class="item">
                <img src="static/img/1.jpg" alt="900x500">
                <div class="carousel-caption">
                  <p>Tenerife, Canary Islands</p>
                </div>
              </div>
              <div class="item">
                <img src="static/img/6.jpg" alt="900x500">
                <div class="carousel-caption">
                  <p>Budapest, Hungary</p>
                </div>
              </div>
              <div class="item">
                <img src="static/img/13.jpg" alt="900x500">
                <div class="carousel-caption">
                  <p>Saxony, Germany</p>
                </div>
              </div>
              <div class="item">
                <img src="static/img/14.jpg" alt="900x500">
                <div class="carousel-caption">
                  <p>Copenhagen, Denmark</p>
                </div>
              </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-hobby" data-slide="prev">
              <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-hobby" data-slide="next">
              <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
          </div>
        </div>
      </div>
      <hr class="story-divider">
      <div class="row story">
        <div class="col-md-3 col-md-offset-1">
          <img class="" src="static/img/me_with_minolta.jpg"/>
        </div>
        <div class="col-md-4">
          <h3>★ Shooting photos with:</h3>
            <h3>
            <ul class="biglist">
              <li>digital Sony α300</li>
              <li>film Minolta SR-T 101</li>
            </ul>
          </h3>
        </div>
        <div class="col-md-4">
          <h3>★ Reading:</h3>
          <h3>
            <ul class="biglist">
              <li>books</li>
              <li>magazines: <a href="http://techcrunch.com/">tech crunch</a>, <a href="http://alistapart.com/">a list apart</a>, <a href="http://habrahabr.ru/">habrahabr</a>, etc</li>
              </h3>
        </div>
      </div>
    </div>

    <!---->
    <!--SECTION CONTACT-->
    <!---->
    <div id="contact" class="section">
      <!-- Story -->
      <div class="row story">
        <div class="col-md-offset-2 col-md-4">
          <h2 class="align-right mt0">Contact me using this form or email in the footer</h2>
        </div>
        <div class="col-md-4">
          <form id="form" class="form-contact" role="form">
            <p> 
              <label for="name">Name:</label>
              <input name="name" type="text" placeholder="how may I call you?" class="form-control"/>
            </p>
            <p> 
              <label for="email">Your email:</label>
              <input name="email" type="text" placeholder="No spam" class="form-control"/>
            </p>
            <p> 
              <label for="text">Message:</label>
              <textarea id="msg" rows="8" name="text" placeholder="Come on, leave me a friendly message" class="form-control"></textarea>
            </p>
            <p> 
             <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
             <div class="progress progress-striped active">
                <div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
              </div>
           </p>
         </form>
        </div>
      </div>
      <div class="row story mt2">
        <div class="col-md-12">
          <h2 class="align-center">Here I am!</h2>
          <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBclAZV05HfZ_0MZJ5cGcNmDvnnk-qJb88&q=Munich"></iframe>
        </div>
      </div>
</div>


</div>
{% endblock %}
